<header class="masthead reduced"
    style="background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url({% if product.image_url %}{{ product.image_url }}
    {% else %}
    {% static "dist/assets/img/logo_pur_beurre.svg" %}
    {% endif %}) repeat-x; background-size: contain;">


    <section>
        <div class="card-deck">
            <div class="container">
                <div class="row">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-12">
                        <p>{{ product.nutrition_grade }}</p>
                        <div class="card mx-1 my-3 shadow p-3 mb-5 bg-white rounded">
                            <img class="card-img-top" src="{{ product.photo_url }}" alt="Image du produit">
                            <div class="card-body text-center">
                                <h6 class="card-title">{{ product.name }} - {{ product.id }} - {{ product.code }}</h6>
                                {% if research == "products" %}
                                <a href="{% url 'food_choice:substitutes' product.id %}">
                                    <img src="{% static 'src/assets/img/substitute.png' %}" alt="Substituer"
                                        title="Substituer">
                                    Substituer</a>
                                {% endif %}
    
                                {% if user.is_authenticated and research == "substitutes"%}
                                <a href="#">
                                    <img src="{% static 'src/assets/img/save.png' %}" alt="Enregistrer" title="Enregistrer">
                                    Sauvegarder</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="card-deck">
            <div class="card-columns">
                {% for product in products %}
                <div class="card">
                    <img class="card-img-top" src="{{ product.photo_url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        {% if research == "products" %}
                        <a href="{% url 'food_choice:substitutes' product.id %}">
                            <img src="{% static 'src/assets/img/substitute.png' %}" alt="Substituer" title="Substituer">
                            Substituer</a>
                        {% endif %}
    
                        {% if user.is_authenticated and research == "substitutes"%}
                        <a href="#">
                            <img src="{% static 'src/assets/img/save.png' %}" alt="Enregistrer" title="Enregistrer">
                            Sauvegarder</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-lg-6 col-md-12 mx-1 my-3 shadow p-3 mb-5 bg-white rounded">
                    <img src="{{ product.photo_url }}" alt="image du produit">
                    <h6>{{ product.name }}</h6>
                    {% if research == "products" %}
                    <a href="{% url 'food_choice:substitutes' product.id %}">
                        <img src="{% static 'src/assets/img/substitute.png' %}" alt="Substituer" title="Substituer">
                        Substituer</a>
                    {% endif %}
    
                    {% if user.is_authenticated and research == "substitutes"%}
                    <a href="#">
                        <img src="{% static 'src/assets/img/save.png' %}" alt="Enregistrer" title="Enregistrer">
                        Sauvegarder</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>