{% extends 'base.html' %}
{% block content %}

<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-white">{{ user_research }}</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
            </div>
        </div>
    </div>
</header>

<div class="jumbotron">
    <h2 class="text-center">Vous recherchez peut-être...</h2>
</div>

<ul>
    {% for product in products %}
    <li>{{ product.id }} - {{ product.product_name }} - {{ product.nutrition_grade }}</li>
    <a href="{% url 'food_choice:product' product.id %}"><img src="{{ product.photo_url }}"
            alt="{{ product.product_name }}" title="photo produit"></a>
    <a href="{% url 'food_choice:substitutes' product.id %}">Substituer</a>
    {% endfor %}
</ul>



{% endblock content %}